<div class="container-post">
    <div class="post-img">
        <img src="{{urlImg}}" alt="{{title}}" srcset="" width="300px">
    </div>
    <div class="post-voltar-home">
        <a [routerLink]="['']" rel="noopener noreferrer"> << Home </a>
    </div>
    <div class="post-info">
        <p class="post-info-title">
            {{title}}
        </p>
        <p class="post-info-date">
            {{date}}
        </p>
        <p class="post-info-body">
            {{body}}
        </p>
    </div>
</div>
