.container-title{
    width: 100%;
    font-size: 5rem;
}

h1{
    width: 100%;
    text-align: center;
}

hr{
    margin: 1rem 0;
}

hr:first-of-type{
    margin-bottom: -2rem;
}

@media(max-width: 768px){
    h1{
        font-size: 3rem;
        margin-top: 1em;
    }
}