<div class="container-articles">
    <div class="articles-left">
        <app-articles-big
            id="1"
            imgUrl="https://images.unsplash.com/photo-1696968106120-e31a4731e666?crop=entropy&cs=srgb&fm=jpg&ixid=M3wxNDI0NzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTc2MDk3ODN8&ixlib=rb-4.0.3&q=85"
            date="January 11, 2022"
            title="Lorem ipsum dolor sit amet"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum dui faucibus. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Nisl vel pretium lectus quam id leo in vitae turpis."
        ></app-articles-big>
    </div>
    <div class="articles-right">
        <app-articles-small
        id="2"
        imgUrl="https://images.unsplash.com/photo-1696577226054-7c4c339905b2?crop=entropy&cs=srgb&fm=jpg&ixid=M3wxNDI0NzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTc2MTA3NTN8&ixlib=rb-4.0.3&q=85"
        date="January 11, 2022"
        title="Lorem ipsum dolor sit amet"
        ></app-articles-small>
        <app-articles-small
        id="3"
        imgUrl="https://images.unsplash.com/photo-1690181282403-a45aa85e86aa?crop=entropy&cs=srgb&fm=jpg&ixid=M3wxNDI0NzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTc2MTIwMTZ8&ixlib=rb-4.0.3&q=85"
        date="April 21, 2022"
        title="Tellus integer feugiat scelerisque varius morbi enim nunc. Aliquam sem et tortor consequat id porta nibh"
        ></app-articles-small>
        <app-articles-small
        id="4"
        imgUrl="https://images.unsplash.com/photo-1694893483613-5e9bae4744d8?crop=entropy&cs=srgb&fm=jpg&ixid=M3wxNDI0NzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTc2MTIwMzF8&ixlib=rb-4.0.3&q=85"
        date="May 3, 2022"
        title="Urna neque viverra justo nec ultrices dui sapien. Feugiat in ante metus dictum."
        ></app-articles-small>
    </div>
</div>
